body { background: black;}
h1.title { color: yellow; margin-left:600px; font-size: 36pt; font-weight: bold; margin-top:150px; margin-bottom:0px; }
div{ color:yellow; margin-left: 600px; font-size: 14pt; font-weight:normal;}
p{color:yellow; margin-left: 600px; font-size: 14pt; font-weight:normal;}